/*Card images*/

.firstCard {
  background-image: url('https://cdn.discordapp.com/attachments/968191708120633384/968608975740342372/unknown.png');
  background-position: center;
}
.secondCard {
  background-image: url("https://cdn.discordapp.com/attachments/968191708120633384/968610216411275294/unknown.png");
  background-position: center;
}

.thirdCard {
  background-image: url("https://cdn.discordapp.com/attachments/968191708120633384/968609788088950814/unknown.png");
  background-position: center;
}

.fourthCard {
  background-image: url("https://cdn.discordapp.com/attachments/968191708120633384/968609270704787526/unknown.png");
  background-position: center;
}

.fifthCard {
  background-image: url("https://cdn.discordapp.com/attachments/968191708120633384/969569679838421023/unknown.png");
  background-position: center;
}

.sixthCard {
  background-image: url(coinsDrop.png);
  background-position: center;
}

.seventhCard {
  background-image: url("https://cdn.discordapp.com/attachments/968191708120633384/969570999043506206/unknown.png");
  background-position: center;
}

.eighthCard {
  background-image: url("https://cdn.discordapp.com/attachments/968191708120633384/968601925715107890/unknown.png");
  background-position: center;
}

.ninthCard {
  background-image: url("https://cdn.discordapp.com/attachments/968191708120633384/968609270704787526/unknown.png");
  background-position: center;
}

.tenthCard {
  background-image: url(spaghetti_o\S.png);
  background-position: center;
}

/*Container images*/

.mapImage {
  background-image: url(MapPic.png);
  background-size: cover;
}
.mapTwo {
  background-image: url("https://cdn.discordapp.com/attachments/968191708120633384/968608012614926407/unknown.png");
  background-size: cover;
}
.content-section .content .button {
  margin-top: 30px;
}

.content-section .content .button a{
background-color: white;
padding: 12px 40px;
text-decoration: none;
color: green;
font-size: 25px;
letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
  background-color: black;
  color: #fff;
}
.content-section .content .button{
  text-align: center;
}
.content-section .content .button a{
  padding: 9px 30px;
}

/*DARK MODE*/

.btn-toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
  overflow: hidden;
}

.btn-toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

